{% extends "layout.html" %}

{% block article_body %}

<!-- start iframe topper -->


<div data-o-grid-colspan="full-width Lhide XLhide" style="background:#00747A; min-height:60px; padding: 20px;">
	Sorry, the interactive graphic contained in this page is too large to display correctly on your device.	
</div>
<div data-o-grid-colspan="hide Lfull-width XLfull-width" style="text-align:center;">			
	<iframe allowtransparency="true" frameborder="0" height="820" scrolling="no" src="http://ft.com/ig/features/2014-11-04_elevators/lifts_test.html" width="972"></iframe>	
</div>


<!-- L=980 and up -->


<!-- end iframe topper -->

{% markdown %}

The race to build ever [taller skyscrapers](http://www.ft.com/cms/s/0/52063bcc-b7e5-11e2-9f1a-00144feabdc0.html?siteedition=uk) has sparked a battle among lift manufacturers to develop the next generation of elevators with record-breaking speeds of 4,000ft per minute.

To keep pace with the bigger buildings, lift makers including Mitsubishi, Hitachi and Toshiba have been forced to make technological strides, using new motors and high-tech air pressure systems that allow them to transport people higher and faster than ever before.

<!-- start iframe mid -->


<div data-o-grid-colspan="full-width Mhide Lhide XLhide" style="background:#00747A; min-height:60px; padding: 20px;">
	Sorry, the interactive graphic contained in this page is too large to display correctly on your device.	
</div>
<div data-o-grid-colspan="hide Mfull-width Lfull-width XLfull-width" style="text-align:center;">			
	<iframe allowtransparency="true" frameborder="0" height="662" scrolling="no" src="http://interactive.ftdata.co.uk/features/2012-11-15_TaxEvasion/index.html" width="568"></iframe>
</div>


<!-- end iframe mid -->

For the past decade, <a class="wsodCompany" data-hover-chart="jp:6502" href="http://markets.ft.com/tearsheets/performance.asp?s=jp:6502">Toshiba</a>’s lifts in the <a href="http://www.ft.com/cms/s/0/29b662c4-5d89-11d9-ac01-00000e2511c8.html?siteedition=uk" title="World's tallest skyscraper opens in Taipei - FT.com">Taipei 101</a> office tower in Taiwan has held the title of the world’s fastest elevator, with speeds of 16.8 metres per second. However, in the next two years this speed record is set to be beaten twice.

<img src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fim.ft-static.com%2Fcontent%2Fimages%2F61b2f404-64e4-11e4-ab2d-00144feabdc0.img?source=ig" style="float:right;" />

Rival Japanese lift maker Mitsubishi is poised to steal its crown in 2015, with lifts in China’s 121-storey <a href="http://www.ft.com/cms/s/2/2b681036-4d17-11e3-bf32-00144feabdc0.html" title="Is China’s Shanghai Tower the world’s greenest super skyscraper? - FT.com">Shanghai Tower</a> that travel at 18 metres per second. A year later, Hitachi is aiming to set a record with lifts in the Guangzhou CTF Finance Centre that climb at a rate of 20 metres per second – or 4,000ft per minute – the equivalent of travelling from the first floor to the 95th in 43 seconds.

Hitachi says it is able to reach these high speeds with a powerful slim magnet motor and an improved control panel. Its ultra high-speed lift will also include a more high-tech air pressure adjustment system that minimises passengers’ ear discomfort.

Smaller suppliers are also playing a critical role in enabling faster speeds. Oleo, a small British engineering company, has designed high-speed lift buffers, a critical device located at the bottom of a lift hoist way, designed to stop a descending one in the case of an emergency.

Its new range supports elevator speeds of 20 metres per second, such as will be in use at Guangzhou. Jamie Pratt, managing director of Oleo’s lift division, says the product range took four years to develop and last month passed its safety testing.

“Until now technology and equipment hasn’t been able to cope with speeds of 20 metres per second. Our new buffers can stop the elevator if there’s a malfunction in the system somewhere,” says Mr Pratt. The group has already received orders of more than £1m for its new range.

Lifts are not just getting faster. They are also going farther. Finnish maker <a class="wsodCompany" data-hover-chart="fi:KNEBV" href="http://markets.ft.com/tearsheets/performance.asp?s=fi:KNEBV">Kone</a> last year launched a carbon fibre cable, dubbed <a href="http://www.ft.com/cms/s/0/cf1f1a3e-d1c1-11e2-9336-00144feab7de.html?siteedition=uk" title="Kone reaches for the skies with carbon cable for lifts - FT.com">“ultrarope”</a>, which has doubled the possible length of a single lift line from 500 metres to more than 1km.

The new rope, which had been in development for nine years, is seven times lighter than the steel cables traditionally used in hoist lifts and has the added benefits of using less energy and having twice the lifetime of steel lift cables.

Kone’s ultrarope will be used in the <a href="http://www.ft.com/cms/s/0/98bbe670-bf8f-11e0-90d5-00144feabdc0.html?siteedition=uk" title="The temptation and greatness of skyscraper ambition - FT.com">Kingdom Tower</a> in Jeddah, which is slated to be the world’s tallest building at more than 1km high when it is completed in 2019 – more than three times the height of London’s Shard at 308 metres.

“One of the key factors was weight reducing because that has been one of the bottlenecks for elevator technology,” says Santeri Suoranta, director of high rise technology at Kone.

Daniel Safarik of the Council on Tall Buildings and Urban Habitat believes ultrarope is a significant move forward for the lift industry and that it will enable the construction of even taller buildings.

“It eliminates the need for transfers to reach 1,000 metres. As we are currently building to that height . . . and we consider that elevators were the only limiting factor, then we could conceivably get to 2,000 metres,” says Mr Safarik.

Other lift makers plan to launch further innovations shortly. ThyssenKrupp is launching a product next month which builds on the concept of its twin elevators, where two cabins operate in the same shaft across different floors.

The system, launched in 2002, broke ground by increasing efficiency and transit times and reducing the floor space previously occupied by elevators by up to 30 per cent. It is currently building a <a href="http://www.ft.com/cms/s/0/ce1e2ee6-c16b-11e3-83af-00144feabdc0.html?siteedition=uk" title="Germans reach for the sky with tower to test lifts - FT.com">244-metre tower</a> for testing lifts, where it is trying out new technologies.

Andreas Schierenbeck, chief executive of <a class="wsodCompany" data-hover-chart="de:TKAX" href="http://markets.ft.com/tearsheets/performance.asp?s=de:TKAX">ThyssenKrupp</a>’s lift division, says it has become “essential” for elevator manufacturers to make improvements in how people move from floor to floor.

“For over 160 years, elevators have slowly evolved without adding any significantly new or different technologies,” says Mr Schierenbeck. He says ThyssenKrupp’s new innovation will be enable new heights, sizes, and shapes of buildings.

“As buildings get taller, efficient mobility in buildings is not a luxury but an absolute necessity as an megacity would be paralysed if its elevators suddenly stopped moving,” he adds.

## The elevator of the future ##

The ultimate high-speed high-rise elevator of the future will be ropeless and move vertically and horizontally across buildings, liftmakers say.

Some of these developments may not be too far away. According to Albert So, an elevator expert, the concept for ropeless elevators based on linear motors existed more than 20 years ago.

If applied in practice, this innovation would mean multiple cabins could use the same elevator hoist way, increasing passenger capacity in a building. “We are waiting for the perfection of it in terms of 100 per cent safety,” Mr So says.

Lift makers are already developing elevators that are counterweight free. Steel and technology group ThyssenKrupp this month presented an elevator that operates without a counterweight, saving valuable space in buildings.

But elevator experts are sceptical that lift speeds are likely to get faster than the latest record of 20 metres per second by Hitachi.

“At present, existing technology in terms of speed is good enough for super high-rise buildings,” says Mr So. “Frankly, the acceleration/deceleration limits and pressure change limit a significant further increase in the elevator speed.”

Jim Fortune of Fortune Shepler Saling, which has designed the elevator systems in seven of the last 10 world tallest towers, said the ultimate high-rise elevator would be one that can “block gravity” and move vertically and horizontally within the hoist way confines.

“The anti gravity block will have to wait a long time and was first identified in science fiction writings by Jules Verne . . . and in the science fiction movie _Back to the Future”._

{% endmarkdown %}
{% endblock %}
