{% extends "layout.html" %}

{% block article_body %}

{% markdown %}

Saudi Arabia’s King Salman has [promoted his favoured son](https://www.ft.com/content/173d0148-5637-11e7-80b6-9bfa4c1f83d2), [Mohammed bin Salman](https://www.ft.com/stream/38afe3a0-d51b-31fc-a886-1519fc60ef09), to crown prince in a dramatic shake-up of the established succession order that clears the young royal’s path to the throne.

The previous crown prince, [Mohammed bin Nayef](https://www.ft.com/stream/79724298-5cd9-3ea4-acde-58681263e7fb), the king’s nephew, pledged his allegiance to the new crown prince, the official news agency reported.

But the move to replace him risks triggering divisions within the ranks of the ruling Al Saud family, given the private concerns among some family members about the rise of the [inexperienced Prince Mohammed](https://www.ft.com/content/3cc55bea-566e-11e7-80b6-9bfa4c1f83d2).

The changes come at a  time when the Gulf is facing its biggest crisis in decades after Saudi Arabia and three Arab allies [cut diplomatic ties](https://www.ft.com/content/b7b46c74-54ca-11e7-9fed-c19e2700005f) and transport links with Qatar, alleging that the Gulf state sponsored terrorism.

[King Salman](http://www.ft.com/intl/cms/s/0/973dd61e-a7a8-11e4-be63-00144feab7de.html) last [revised the Saudi line of succession in 2015](http://www.ft.com/intl/cms/s/0/f941e190-ee1e-11e4-987e-00144feab7de.html?siteedition=intl), when he replaced crown prince Prince Muqrin, his half-brother, with Mohammed bin Nayef. At the same time, the king had evelated his son, Mohammed bin Salman, to deputy crown prince.

Explore the House of Saud’s family tree in the interactive graphic below:

{% endmarkdown %}

<div data-o-grid-colspan="full-width center Lhide XLhide" style="background:#F2DFCE; min-height:60px; padding: 20px;"><p class="error-message" style="max-width:600px; margin: 0 auto; text-align: center; font-style: italic;">Sorry, this interactive graphic was first published in 2012 and was not designed to display correctly on your device. You may be able to view it on a device with a larger screen, such as a tablet, laptop or desktop computer.</p>
</div>

<div data-o-grid-colspan="hide Lfull-width XLfull-width" style="text-align:center;">			
	<div style="width:972px; position: relative; margin: 0 auto;">{% include "components/iframe/include.html"  %}</div>
</div>

{% markdown %}

_Sources: [Simon Henderson, Washington Institute](http://www.washingtoninstitute.org/uploads/Documents/pubs/PolicyFocus96.pdf), [Robert Lacey: Inside the Kingdom](http://www.robertlacey.com/?q=book/inside-kingdom), [Embassy of Saudi Arabia](http://www.saudiembassy.net/)_

_This is an updated version of an interactive graphic first published in 2012 and previously updated in 2015. Additional development by Robin Kwong, David Blood, Martin Stabe, Steve Bernard and Aleksandra Wisniewska._

{% endmarkdown %}

{% endblock %}
