{% extends "layout.html" %}

{% block article_body %}


{% markdown %}

Explore how valuable your data are with this interactive calculator.

While the [multibillion-dollar data broker industry profits](http://www.ft.com/intl/cms/s/0/f840dbc0-d34f-11e2-b3ff-00144feab7de.html) from the trade of thousands of details about individuals, those bits of information are often sold for a fraction of a penny apiece, according to industry pricing data viewed by the Financial Times.

The average person’s data [often retails for less than a dollar](http://www.ft.com/intl/cms/s/0/3cb056c6-d343-11e2-b3ff-00144feab7de).

General information about a person, such as their age, gender and location is worth a mere $0.0005 per person, or $0.50 per 1,000 people. A person who is shopping for a car, a financial product or a vacation is slightly more [valuable to companies eager to pitch those goods](http://www.ft.com/intl/cms/s/0/f0b6edc0-d342-11e2-b3ff-00144feab7de.html).

Certain milestones in a person’s life prompt major changes in buying patterns, whether that’s becoming a new parent, moving homes, getting engaged, buying a car, or going through a divorce. Some of the most personal and secretive troves of data rank as the most expensive. For $0.26 per person, buyers can access lists of people with specific health conditions or taking certain prescriptions. Read the full analysis of [what factors influence data value](http://www.ft.com/cms/s/0/3cb056c6-d343-11e2-b3ff-00144feab7de.html?ft_site=falcon).

_The Financial Times will not collect, store or share the data you enter into the calculator._

{% endmarkdown %}

<div data-o-grid-colspan="full-width center Lhide XLhide" style="background:#F2DFCE; min-height:60px; padding: 20px;"><p class="error-message" style="max-width:600px; margin: 0 auto; text-align: left; font-style: italic;"><strong>Interactive content unavailable</strong><br/>Sorry, this interactive graphic was first published in 2013 and was not designed to display correctly on your device. You may be able to view it on a device with a larger screen, such as a tablet, laptop or desktop computer. Alternatively, you can view the <a href="http://ig-legacy.ft.com/content/{{ id }}">archived version of this article</a>.</p>
</div>

<div data-o-grid-colspan="hide Lfull-width XLfull-width" style="text-align:center;" id="ig-include">			
	<div style="width:972px; position: relative; margin: 0 auto;">

		{% include "components/iframe/include.html"  %}

	</div>
</div>

{% markdown %}

## About this calculator ##

The Financial Times created this calculator based on the analysis of industry pricing data from a range of sources in the US. Data pricing is cumulative, so the more specific information available about an individual, the more valuable it is to marketers.

This calculator is not comprehensive and does not include pricing details on each of the thousands of bits of information that data brokers track, analyse and sell on individuals.

_This page was updated to on July 15, 2017. Additional development by Martin Stabe._

{% endmarkdown %}

{% endblock %}
