<!DOCTYPE html>
<html style="background-color:#fff1e0;">
	<head>
		<meta charset="utf-8"/>
		<meta name="description" content = "Template page"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta name="author" content="Ben Freese"/>
		<meta name="keywords" content="Template, Interactive, Interactive feature, Interactive graphic"/>
		<meta name="robots" content="none"/>
		
		<title>Saudi Family Tree</title>
		
		<link rel="stylesheet" href="css/style.css" />
              <script src="../../js/gaNY/ga.js"></script>
	</head>
	
	<body id="FTi">
		<div class="fullWidth"> <!-- fullWidth, wideWidth or narrowWidth -->
			<!-- <div class="titleSmall">Lineage tree</div> --> <!-- titleSmall or titleLarge --> <!-- if you do not want a title, comment this line out -->			
			<div class="errorMessageHolder">
              		<div class="errorMessage"></div>
				<div class="errorBground"></div>
			</div>
			
			<div class="content">
				<div style="position:absolute; top:-1000px; left:-1000px;">This document should be in English.This document should be in English.This document should be in English.This document should be in English.This document should be in English.This document should be in English.This document should be in English.This document should be in English.</div>
				<input id="slider" type="range" style="display:none" />
				<div class="d3"></div>
				<div class="toolTip" style="position:absolute; top:-1000px;"></div>
				<div class="toolTipImg" style="position:absolute; top:-1000px;"></div>
				<div class="infoPane"></div>
				<div class="diamond" style="display: none">&#9830;</div>
				<!--<div style="background:url(img/3x3.png); width:100px; height:15px;"></div>-->
			</div>
			
			<div class="footer">
                            <div id="footerContents">
                                   <div id="source"><b>Source:&nbsp;</b></div>
                                   <div id="credits"><b>Interactive:&nbsp;</b></div>
                            </div>
			</div>
                     <!-- <div id="sourcesCredits"></div> -->
		</div>
		
		<div class="loader">
			<div class="loaderText">Loading</div>
		</div>
		<div id="precache"></div>
		
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
              <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
              <script type="text/javascript" src="js/jquery.xcolor.min.js"></script>
              <script type="text/javascript" src="js/d3/d3.js"></script>
              <script type="text/javascript" src="js/d3/d3.layoutBF.js"></script>
              <script type="text/javascript" src="js/scriptApr2015.js"></script>
	</body>
</html>